/***** default *****/

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: 'Malgun Gothic', sans-serif;
	line-height: 1.4;
}

html {
	height: 100%;
	color: #333;
}

body {
	width: 100%;
	height: 100%;
}

li {
	list-style-type: none;
}

a,
a:link,
a:visited,
a:hover,
a:active {
	color: black;
	text-decoration: none;
}

table {
	table-layout: fixed;
	border-collapse: collapse;
	border-spacing: 0;

	/* 추가작업 */
	width: 100%;
	margin: 20px auto;
	height: 200px;
	text-align: center;
	border: 1px solid #bfcad2;
}

th, td {
	border: 1px solid #444444;
	padding: 10px;
}

img {
	background-color: #fff;
}

h4 {
	color: gray;
	font-size: 20px;
	text-align: center;
}

button {
	width: 100px;
	height: 30px;
}

/******************/
/***** layout *****/
/******************/
.wrapper {
	width: 100%;
	min-width: 1200px;
	margin: 0 auto;
}

/*********** header ***********/

.header {
	width: 100%;
	height: 50px;

	position: relative;

	border: 1px solid #bfcad2;
	background-color: #f0f4f6;
}

.header .top-left {
	padding: 10px;

	position: absolute;
	width: 200px;
}

.header .top-right {
	padding: 10px;

	position: absolute;
	left: 200px;
	right: 0;
}

.header .top-right > button {
	margin-top: -30px;

	position: absolute;
	right: 10px;
}


/*********** header ***********/

/************ body ************/

.body {
	width: 100%;
	background-color: aqua;
}

.body .menu {
	width: 200px;
	padding: 10px;

	float:left;

	border: 1px solid #bfcad2;
	background-color: #f0f4f6;
}

.body .info {
	margin-left: 200px;
}

.body .contents,
.body .search {
	width: 100%;
	padding: 10px;

	float: right;

	border: 1px solid #bfcad2;
	background-color: #ffffff;
}

/************ body ************/

/*********** footer ***********/

.footer {
	width: 100%;
	height: 50px;

	float: left;

	border: 1px solid #bfcad2;
	background-color: #f0f4f6;
}

.footer .down {
	padding: 10px;
}

/*********** footer ***********/