/***** default *****/

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Malgun Gothic', sans-serif;
    line-height: 1.4;
}

html {
    height: 100%;
    color: #333;
}

body {
    width: 100%;
    height: 100%;

    /* 추가작업*/
    background-color: #f2f4f7;
}

li {
    list-style-type: none;
}

a,
a:link,
a:visited,
a:hover,
a:active {
    color: black;
    text-decoration: none;
}

table {
    font-size: 14px;
    text-align: left;
    table-layout: fixed;
    border-collapse: collapse;
    border-spacing: 0;
}

/* 추가작업 */
input:focus {
    outline: none;
}

input::placeholder {
    color: #a6a9ac;
    font-size: 14px;
}

.clear_both {
    clear: both;
}

.clear_left {
    clear: left;
}

.clear_right {
    clear: right;
}
/* //추가작업 */


/******************/
/***** layout *****/
/******************/
.wrapper {
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

/*********** header ***********/

.header {
    width: 100%;
    height: 180px;
    background-color: #ffffff;
}

.header .domain {
    /*마지막에 작업할 것*/
}

.header .domain .addition {
    height: 30px;
    padding-top: 10px;

    font-size: 0;   /* inline-block 빈여백을 줄이기 위한 해결책? */
    text-align: right;
}

.header .domain .addition > ul li {
    margin-left: 10px;

    display: inline-block;

    font-size: 11px;
    color: #888;
}

.header .domain .addition > ul li:nth-child(1) {
    padding-right: 10px;
    border-right: 1px solid #ebeef3;
}

.header .domain .header_contents {
    font-size: 0;

    margin: 20px 0 37px;
}

.header .domain .header_contents .logo {    /*로고*/
    width: 200px;
    height: 50px;

    vertical-align: middle;

    background-color: #d4d4d4;
}

.header .domain .header_contents .search {
    width: 480px;
    height: 50px;

    margin-left: 50px;

    display: inline-block;
    vertical-align: middle;

    background-color: #d4d4d4;
}

.header .domain .header_contents .search .input {
    width: 420px;
    height: 50px;

    vertical-align: middle;
}

.header .domain .header_contents .search .keybord,
.header .domain .header_contents .search .arrow {
    width: 30px;
    height: 50px;

    vertical-align: middle;

    border: 1px solid #a7a7a7;
    background-color: #d4d4d4;
}

.header .domain .header_contents .button {
    width: 50px;
    height: 50px;

    vertical-align: middle;

    border: 1px solid #a7a7a7;
    background-color: #d4d4d4;
}

.header .domain .service {
    height: 45px;
    padding: 13px 0 10px;;

    font-size: 15px;
    border-top: 1px solid #f1f3f6;
}

.header .domain .service > li {
    margin-right: 7px;

    display: inline-block;

    font-weight: 800;
}

.header .domain .service > li:nth-child(-n+7) {
    color: #00bc53;
}

.header .domain .service > li:nth-child(+n+8) {
    color: #000;
}
























/*********** header ***********/

/************ body ************/



/************ body ************/