/***** default *****/

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Malgun Gothic', sans-serif;
    line-height: 1.4;
}

html {
    height: 100%;
    color: #333;
}

body {
    width: 100%;
    height: 100%;
}

li {
    list-style-type: none;
}

a,
a:link,
a:visited,
a:hover,
a:active {
    color: black;
    text-decoration: none;
}

table {
    table-layout: fixed;
    border-collapse: collapse;
    border-spacing: 0;
}

img {
    background-color: #fff;
}

/******************/
/***** layout *****/
/******************/
.wrapper {
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

/* clear속성을 공통으로 쓸려고 맨 위로 뺌 */
.clear-both {
    clear: both;
}

/*********** header ***********/

.header {
    width: 100%;
    height: 50px;
    padding: 15px;
    text-align: center;
    border-bottom: 1px solid #bfcad2;
}

.header .main-log { /*박스1*/
    width: 33%;
    float: left;
}

.header .main-log > img {
    width: 20px;
    height: 20px;
    float: right;
}

.header .main-title { /*박스2*/
    width: 33%;
    float: left;
}

.header .main-title > img {
    width: 20px;
    height: 20px;
}

.header .main-title > h2 {
    font-size: 15px;
    text-align: center;
}

.header .main-ment { /*박스3*/
    width: 33%;
    float: right;
}

.header .main-ment img {
    width: 20px;
    height: 20px;
    float: right;
}

/*********** header ***********/

/************ body ************/

.body .slide-info {
    width: 100%;
    height: 150px;
    padding: 15px;
    border-bottom: 1px solid #bfcad2;
}

.body .slide-info .slide-info-title h5 {
    font-size: 12px;
    margin-bottom: 10px;
}

.body .slide-info .slide-info-title p {
    font-size: 13px;
    margin-bottom: 10px;
}

.body .slide-info .slide-info-title img {
    width: 70px;
    height: 70px;
    float: right;
}

.body .slide-info .slide-button li {
    width: 7px;
    height: 7px;
    float: left;
    margin-top: 4px;
    margin-right: 5px;
    border-radius: 200px;
    background-color: #B0B9C0;
}

.body .slide-info .slide-button li:nth-child(1) {
    background-color: crimson;
}

.body .individual,
.body .corporation {
    width: 50%;
    padding: 15px;
    border: 1px solid #bfcad2;
}

.body .individual {
    float: left;
}

.body .corporation {
    float: right;
}

.body .individual h4,
.body .corporation h4 {
    margin-bottom: 10px;
    font-size: 16px;
}

.body .individual p,
.body .corporation p {
    margin-bottom: 10px;
    font-size: 14px;
}

.body .individual ul li img,
.body .corporation ul li img {
    width: 10px;
    height: 10px;
}

.body .individual ul li span,
.body .corporation ul li span {
    font-size: 12px;
}

.body .individual button,
.body .corporation button {
    width: 100%;
    height: 35px;
    margin-top: 10px;
}

.body .process div {
    width: 50%;
    height: 50px;
    padding: 10px;
    border: 1px solid #bfcad2;
}

.body .process div:nth-child(1) {
    float: left;
}

.body .process div:nth-child(2) {
    float: right;
}

.body .process div:nth-child(3) {
    float: left;
}

.body .process div:nth-child(4) {
    float: right;
}

.body .process img:nth-child(1) {
    width: 30px;
    height: 30px;
    float: left;
    margin-right: 5px;
}

.body .process img:nth-child(3) {
    width: 20px;
    height: 20px;
    float: right;
    margin-top: 4px;
}

.body .process h4 {
    float: left;
    font-size: 15px;
    margin-top: 4px;
}

/************ body ************/

/*********** footer ***********/

.footer {
    padding: 10px;
}

.footer .operations {
    height: 50px;
    padding: 10px;
    border-bottom: 1px solid #bfcad2;
}

.footer .operation-date { /*박스1*/
    width: 33%;
    float: left;
}

.footer .operation-date img {
    width: 30px;
    height: 30px;
    margin-right: 5px;
    float: left;
}

.footer .operation-date h5 {
    font-size: 12px;
}

.footer .operation-date p {
    font-size: 11px;
}

.footer .operation-number { /*박스2*/
    width: 33%;
    float: left;
}

.footer .operation-number h3 {
    text-align: center;
}

.footer .operations .operation-button { /*박스3*/
    width: 33%;
    float: left;
}

.footer .operations .operation-button > button {
    width: 100px;
    height: 30px;
    float: right;
}

.footer .info {
    width: 100%;
    text-align: center;
}

/*
   float 속성으로 가운데 정렬이 안된다.
   가운데 정렬을 하더라도 left, right(px, %) 조절하면서 정렬을 시킬 수 있으나,
   창이 가변적으로 달라질 경우 왼쪽또는 오른쪽으로 쏠림 현상이 나타난다.
   position 이나 display 중에 그나마 display 속성으로 처리하는게 가장 심플하여
   display: inline-block; 처리
*/
.footer .info li {
    font-size: 12px;
    margin-top: 10px;
    padding-right: 5px;
    display: inline-block;
}

.footer .info li:nth-child(-n+3) {
    border-right: 1px solid #bfcad2;
}

.footer .copywriter {
    margin-top: 10px;
    font-size: 11px;
    text-align: center;
}

/*********** footer ***********/