/***** default *****/

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Malgun Gothic', sans-serif;
    line-height: 1.4;
}

html {
    height: 100%;
    color: #333;
}

body {
    width: 100%;
    height: 100%;

    /* 추가작업*/
    background-color: #f5f5f5;
}

li {
    list-style-type: none;
}

a,
a:link,
a:visited,
a:hover,
a:active {
    color: black;
    text-decoration: none;
}

table {
    font-size: 14px;
    text-align: left;
    table-layout: fixed;
    border-collapse: collapse;
    border-spacing: 0;
}

tr {
    height: 40px;
}

tr th {
    width: 80px;
    font-weight: 500;
}

tr td {
    width: 350px;
    font-weight: 500;
}

/* 추가작업 */
input:focus {
    outline: none;
}

input::placeholder {
    color: #a6a9ac;
    font-size: 14px;
}

.clear_both {
    clear: both;
}

.clear_left {
    clear: left;
}

.clear_right {
    clear: right;
}
/* //추가작업 */


/******************/
/***** layout *****/
/******************/
.wrapper {
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

/*********** header ***********/

.header {
    width: 100%;
    min-width: 1000px;
    height: 70px;
    padding: 20px;

    position: fixed;

    border-bottom: 1px solid #d0d0d0;
    background-color: rgba(255, 255, 255, 0.96); /* background 반투명 처리 */
}

.header .header_log {
    margin-left: 60px;
}

/*로고*/
.header .header_log > img:nth-child(1) {
    width: 40px;
    height: 25px;
    margin-right: 5px;
    vertical-align: middle;
}

/*화살표(다른 아지트로 로그인)*/
.header .header_log > img:nth-child(3) {
    width: 20px;
    height: 20px;
    margin-left: 5px;
    vertical-align: middle;
}

.header .header_log > span {
    margin-left: 5px;
    font-size: 19px;

    vertical-align: middle;

    color: #497BD8;
}

.header .header_search {
    width: 45%;
    height: 40px;

    position: absolute;
    top: 20%;
    left: 25%;

    border-radius: 100px;
    border: 1px solid #d0d0d0;
}

.header .header_search > input {
    width: 90%;
    height: 40px;
    margin-left: 10px;

    float: left;
    clear: both;

    border: 1px solid rgba(0, 255, 0, 0);
    background-color: rgba(0, 255, 0, 0);
}

.header .header_menu {
    position: absolute;
    top: 20px;
    right: 3%;
}

.header .header_menu > img {
    width: 30px;
    height: 30px;
    margin-left: 20px;
}

/*********** header ***********/

/************ body ************/

.body {
    width: 100%;
    height: 100%;
    padding-top: 100px;
}



.body .side_group {
    width: 1100px;

    margin: 0 auto;
}


/*왼쪽 콘텐츠 영역*/
.body .left_side {
    width: 240px;
    margin: 0 0 0 20px;

    float: left;
}

/*중앙 콘텐츠 영역*/
.body .center_side {
    width: 730px;
    margin: 0 0 0 20px;

    float: left;
}

/*오른쪽 콘텐츠 영역*/
.body .right_side {
    width: 270px;
    height: 100%;

    position: fixed;
    top: 70px;
    right: 0;

    border: 1px solid #dfe7e9;
    background-color: #f5f5f5;
}



.body .left_side .left_header {
    height: 100px;
    padding: 25px;

    border: 1px solid #dcdfe4;
    background-color: #ffffff;
}

.body .left_side .left_header .condition {
    width: 7px;
    height: 7px;

    float: left;

    border-radius: 100%;
    background-color: #5a86dd;
}

.body .left_side .left_header img {
    width: 50px;
    height: 50px;

    vertical-align: middle;

    border-radius: 100%;
    background-color: #cccccc;
}

.body .left_side .left_header > a ul {
    display: inline-block;
    vertical-align: middle;
}

.body .left_side .left_header > a ul li:nth-child(1) {
    font-weight: bold;
    font-size: 15px;
}

.body .left_side .left_header > a ul li:nth-child(2) {
    font-size: 13px;
}

.body .left_side .header_nume {
    width: 100%;
    height: 60px;
    background-color: #fff;
}

.body .left_side .header_nume > ul li {
    width: 25%;
    height: 60px;

    float: left;

    font-size: 12px;
    text-align: center;
    border: 1px solid #dcdfe4;
}

.body .left_side .header_nume > ul li img {
    width: 25px;
    height: 25px;
    margin-top: 7px;
    margin-bottom: 3px;
}

.body .left_side .header_nume > ul li p {
    text-align: center;
}

.body .left_side .member {
    height: 45px;
    margin-top: 10px;
    background-color: #ffffff;
}

.body .left_side .member > ul li {
    width: 50%;
    height: 45px;
    padding-top: 11px;

    float: left;

    text-align: center;
    border: 1px solid #dcdfe4;
}

.body .left_side .member > ul li a span {
    font-size: 14px;
    color: #5a86dd;
}

.body .left_side .new_group {
    height: 45px;
    padding: 13px;
    margin-top: 10px;

    text-align: center;
    background-color: #5a86dd;
}

.body .left_side .new_group > a img {
    width: 20px;
    height: 20px;

    float: left;
}

.body .left_side .new_group > a span {
    font-size: 14px;
    color: #ffffff;
}

.body .left_side .menu_setting {
    height: 30px;
    padding-top: 13px;
}

.body .left_side .menu_setting > ul li a {
    font-size: 13px;

    color: #979797;
}

.body .left_side .menu_setting > ul li:nth-child(1) {
    float: left;
}

.body .left_side .menu_setting > ul li:nth-child(2) {
    float: right;
}

.body .left_side .service_menu {
    margin-top: 13px;
}

.body .left_side .service_menu .contents_menu {
    padding: 10px 0;

    border-top: 1px solid #e9e9e9;
    border-bottom: 1px solid #e9e9e9;
}

.body .left_side .service_menu .contents_menu > img {
    width: 20px;
    height: 20px;

    vertical-align: middle;
}

.body .left_side .service_menu .contents_menu > a h4 {
    font-size: 14px;

    display: inline;
    vertical-align: middle;
}

.body .left_side .service_menu .contents_menu > a span {
    font-size: 14px;

    display: inline;
    vertical-align: middle;
}

.body .left_side .service_menu .contents_menu > ul li a {
    line-height: 25px;
    margin-left: 25px;

    font-size: 14px;
    color: #808080;
}

.body .left_side .service_menu .contents_menu > ul li:hover {
    margin-left: 25px; /* 할 필요는 없으나 신기해서 넣었다. */

    transition: all 0.2s; /* transition : 애니메이션 속도조절 */
    background-color: #ececec;
}

.body .left_side .service_menu .contents_menu > ul li .on {
    width: 6px;
    height: 6px;
    margin-top: 10px;
    margin-right: 10px;

    float: right;

    border-radius: 100%;
    background-color: #ccc;
}

.body .left_side .left_footer {
    padding: 10px 0;

    text-align: center;
}

.body .left_side .left_footer > ul li  {
    margin: 0 0 0 5px;
    font-size: 11px;

    display: inline-block;
}

.body .left_side .left_footer > ul li:nth-child(1) {
    font-weight: bold;
}

.body .left_side .left_footer > ul li:nth-child(n+2) a {
    color: #8F8F8F
}

.body .center_side .Help {
    width: 100%;
    height: 40px;
    padding-top: 11px;
    padding-left: 40px;

    font-size: 13px;
    color: #ffffff;
    background-color: #4b5872;
}

.body .center_side .Help > img {
    width: 20px;
    height: 20px;
    margin-right: 20px;

    float: right;
}

.body .center_side .info_card {
    height: 380px;
    padding: 20px 40px;

    border: 3px solid #dcdfe4;
    background-color: #fff;
}

.body .center_side .info_card .name_id {
    height: 50px;
    margin-bottom: 10px;
}

.body .center_side .info_card .name_id .mail > ul img {
    width: 8px;
    height: 8px;

    border-radius: 100%;
    background-color: #ccc;
}

/* img class클래스에 스크립트 "addclass"속성을 써서
   .on 추가하면 지정한 컬러(녹색)으로 접속했다는 느낌을 줘 봤다.(.on빼면 기본컬러) */
.body .center_side .info_card .name_id .mail .on {
    width: 8px;
    height: 8px;

    border-radius: 100%;
    background-color: #2ecc71;
}

.body .center_side .info_card .name_id .mail > ul li:nth-child(1){
    font-weight: bold;
    font-size: 20px;

    float: left;
}

.body .center_side .info_card .name_id .mail > ul li:nth-child(3){
    color: #666;
    font-size: 14px;
    float: left;
    clear: both;
}

.body .center_side .info_card .name_id .name {
    font-size: 15px;
    float: right;
}

.body .center_side .info_card .name_info {
    border-top: 1px solid #e4e4e4;
    padding: 20px 0;
}

/*프로필 사진*/
.body .center_side .info_card .name_info > img {
    width: 160px;
    height: 160px;

    float: left;
    clear: both;

    border-radius: 100%;
}

.body .center_side .info_card .privacy_info {
    margin-left: 200px;
}

.body .center_side .privacy .contents_tab {
    height: 53px;
    margin-top: 20px;

    border-bottom: 2px solid #485060;
}

.body .center_side .privacy .contents_tab > ul a li {
    padding: 15px 20px;

    float: left;

    font-size: 14px;
    color: #a6a6a6;
    border: 1px solid #a6a6a6;
    background-color: #ffffff;
}

/* li class클래스에 스크립트 "addclass"속성을 써서
   .on 추가하면 지정한 컬러(파란색)로 눌렀다는 느낌을 줘 봤다.(.on빼면 기본컬러) */
.body .center_side .privacy .contents_tab .on {
    color: #497bd8;
}

.body .center_side .privacy .card_contents {
    margin-top: 15px;
    padding: 20px;

    border: 1px solid #dcdfe4;
    background-color: #ffffff;
}

.body .center_side .privacy .card_contents .manu_text {
    height: 20px;
    margin-bottom: 10px;

    font-size: 14px;
}

.body .center_side .privacy .card_contents .name_text {
    height: 50px;
    margin: 20px 0;
}

.body .center_side .privacy .card_contents .name_text > img {
    width: 50px;
    height: 50px;

    vertical-align: middle;

    border-radius: 100%;
}

.body .center_side .privacy .card_contents .name_text > ul {
    display: inline-block;
    vertical-align: middle;
}

.body .center_side .privacy .card_contents .name_text > ul li:nth-child(1) {
    font-weight: bold;
    font-size: 16px;
}

.body .center_side .privacy .card_contents .name_text > ul li:nth-child(2) {
    font-size: 11px;
    color: #979797;
}

.body .center_side .privacy .card_contents .main_text {
    font-size: 14px;
    margin-bottom: 20px;
}

.body .center_side .privacy .card_contents .img_button {
    height: 20px;
}

.body .center_side .privacy .card_contents .img_button > img,
.body .center_side .privacy .card_contents .img_button .right_button > img {
    width: 30px;
    height: 20px;
}

.body .center_side .privacy .card_contents .img_button .right_button {
    float: right;
}

.body .center_side .privacy .contents_null {
    margin: 50px 0px 150px;

    text-align: center;
    font-size: 14px;
}

.body .button {
    width: 28px;
    height: 35px;
    padding: 6px;

    position: fixed;
    right: 270px;

    background-color: #fafbfc;
    border: 1px solid #e4e4e4;
    border-radius: 5px 0 0 5px;
}

.body .close {
    width: 15px;
    height: 15px;

    margin-top: 3px;
}

.body .right_side .event_title{
    margin-bottom: 10px;
    padding: 10px 20px 0;
}

.body .right_side .event_title > span {
    font-size: 13px;
    color: #666;

    vertical-align: middle;
}

.body .right_side .event_title .help {
    width: 15px;
    height: 15px;

    vertical-align: middle;
}

.body .right_side .event_title .setting {
    width: 15px;
    height: 15px;

    vertical-align: middle;
}

.body .right_side .event {
    height: 580px;
    padding: 0 20px 0;

    overflow: auto;
}

.body .right_side .event > ul li {
    height: 60px;
    margin-bottom: 10px;
}

.body .right_side .event > ul li img {
    width: 35px;
    height: 35px;

    float: left;

    border-radius: 100%;
}

.body .right_side .event > ul li p {
    width: 170px;
    height: 70px;
    margin-left: 45px;

    font-size: 13px;
    color: #777;
}

.body .right_side .control_bar {
    height: 7px;
    padding: 1px;

    text-align: center;

    border-top: 1px solid #dfe7e9;
    border-bottom: 1px solid #dfe7e9;
}

.body .right_side .control_bar > img {
    width: 13px;
    height: 3px;
}

.body .member_search > img {
    width: 40px;
    height: 40px;
}

.body .member_search > input {
    width: 230px;
    height: 40px;

    position: absolute;

    border: 0;
}

.body .right_side .chatting {
    padding: 10px 0 0 10px;
}

.body .right_side .chatting .title {
    height: 25px;
    margin-left: 10px;
}

.body .right_side .chatting .title > p {
    font-size: 13px;

    display: inline;
    vertical-align: middle;

    color: #888;
}

.body .right_side .chatting .title > img {
    width: 10px;
    height: 10px;
}

.body .right_side .chatting .manber {
    height: 187px;
    overflow: auto;
}

.body .right_side .chatting .manber > ul li {
    height: 30px;
}

.body .right_side .chatting .manber > ul li .condition {
    width: 7px;
    height: 7px;

    border-radius: 100%;
    background-color: #ccc;
}

.body .right_side .chatting .manber > ul li span {
    margin-left: 5px;

    font-size: 14px;
    vertical-align: middle;

    color: #777;
}






/************ body ************/